#attribution {
    font-size: 10px;
}

#img-div {
    background-color: lightgray;
}

#main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image {
  display: block;
  max-width: 100%;
}
